body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:2000px;
  height:1800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:892px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:60px;
  width:2000px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:20px;
  width:487px;
  height:25px;
  font-family:'Brush Script MT Italic Bold', 'Brush Script MT';
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#3399FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:620px;
  top:230px;
  width:558px;
  height:460px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:460px;
}
#u8 {
  position:absolute;
  left:2px;
  top:222px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:750px;
  top:180px;
  width:14px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:740px;
  top:464px;
  width:70px;
  height:26px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:830px;
  top:465px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:740px;
  top:324px;
  width:66px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:740px;
  top:374px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:830px;
  top:364px;
  width:200px;
  height:32px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:830px;
  top:320px;
  width:200px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:1320px;
  top:20px;
  width:100px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1338px;
  top:70px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1430px;
  top:20px;
  width:100px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1540px;
  top:20px;
  width:100px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1433px;
  top:70px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:880px;
  top:630px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:740px;
  top:422px;
  width:40px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:830px;
  top:418px;
  width:200px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:1210px;
  top:20px;
  width:100px;
  height:40px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:740px;
  top:565px;
  width:66px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:830px;
  top:560px;
  width:200px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:740px;
  top:509px;
  width:70px;
  height:26px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:830px;
  top:509px;
  width:200px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
