body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:2000px;
  height:1800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:892px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:60px;
  width:2000px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:20px;
  width:487px;
  height:25px;
  font-family:'Brush Script MT Italic Bold', 'Brush Script MT';
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#3399FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1320px;
  top:20px;
  width:100px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1338px;
  top:70px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1430px;
  top:20px;
  width:100px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1540px;
  top:20px;
  width:100px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1433px;
  top:70px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:630px;
  top:320px;
  width:570px;
  height:570px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:570px;
}
#u18 {
  position:absolute;
  left:2px;
  top:277px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:740px;
  top:370px;
  width:66px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:740px;
  top:420px;
  width:40px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:830px;
  top:410px;
  width:200px;
  height:32px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:865px;
  top:800px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:740px;
  top:479px;
  width:66px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:830px;
  top:470px;
  width:200px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:830px;
  top:368px;
  width:200px;
  height:32px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29_input:disabled {
  color:grayText;
}
#u30 {
  position:absolute;
  left:1210px;
  top:20px;
  width:100px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:710px;
  top:539px;
  width:66px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:786px;
  top:533px;
  width:83px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:899px;
  top:541px;
  width:66px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:975px;
  top:535px;
  width:83px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:710px;
  top:583px;
  width:70px;
  height:26px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:786px;
  top:585px;
  width:83px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:899px;
  top:593px;
  width:79px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:1028px;
  top:593px;
  width:50px;
  height:16px;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  position:absolute;
  left:978px;
  top:593px;
  width:57px;
  height:16px;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:710px;
  top:639px;
  width:66px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:786px;
  top:633px;
  width:83px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:899px;
  top:641px;
  width:66px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:975px;
  top:635px;
  width:83px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:710px;
  top:683px;
  width:70px;
  height:26px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:786px;
  top:685px;
  width:83px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:899px;
  top:693px;
  width:79px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1028px;
  top:693px;
  width:50px;
  height:16px;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:978px;
  top:693px;
  width:57px;
  height:16px;
}
#u61 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u60_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
