body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:10px;
  width:2000px;
  height:1800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:892px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:60px;
  width:2000px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:20px;
  width:487px;
  height:25px;
  font-family:'Brush Script MT Italic Bold', 'Brush Script MT';
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#3399FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:440px;
  top:260px;
  width:900px;
  height:723px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:723px;
}
#u8 {
  position:absolute;
  left:2px;
  top:354px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:924px;
  top:754px;
  width:70px;
  height:26px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1014px;
  top:755px;
  width:61px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:740px;
  top:320px;
  width:66px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:740px;
  top:370px;
  width:40px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:830px;
  top:360px;
  width:200px;
  height:32px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16_input:disabled {
  color:grayText;
}
#u17 {
  position:absolute;
  left:864px;
  top:910px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:830px;
  top:318px;
  width:200px;
  height:32px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19_input:disabled {
  color:grayText;
}
#u20 {
  position:absolute;
  left:1320px;
  top:20px;
  width:100px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1338px;
  top:70px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1430px;
  top:20px;
  width:100px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1540px;
  top:20px;
  width:100px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1433px;
  top:70px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:740px;
  top:414px;
  width:70px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:830px;
  top:415px;
  width:200px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:1210px;
  top:20px;
  width:100px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:740px;
  top:570px;
  width:66px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1121px;
  top:714px;
  width:79px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1250px;
  top:714px;
  width:50px;
  height:16px;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:1200px;
  top:714px;
  width:57px;
  height:16px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:830px;
  top:570px;
  width:200px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:743px;
  top:624px;
  width:40px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:830px;
  top:616px;
  width:107px;
  height:32px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:740px;
  top:414px;
  width:70px;
  height:26px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:830px;
  top:415px;
  width:200px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:740px;
  top:514px;
  width:70px;
  height:26px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:830px;
  top:515px;
  width:200px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:540px;
  top:708px;
  width:66px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:616px;
  top:708px;
  width:83px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:730px;
  top:717px;
  width:66px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:806px;
  top:708px;
  width:83px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:540px;
  top:753px;
  width:66px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:616px;
  top:748px;
  width:83px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:730px;
  top:754px;
  width:66px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:806px;
  top:745px;
  width:83px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:830px;
  top:461px;
  width:200px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:830px;
  top:461px;
  width:200px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:740px;
  top:460px;
  width:70px;
  height:26px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:924px;
  top:718px;
  width:70px;
  height:26px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1014px;
  top:710px;
  width:61px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72 {
  position:absolute;
  left:1121px;
  top:750px;
  width:79px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:1250px;
  top:750px;
  width:50px;
  height:16px;
}
#u75 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u74_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76 {
  position:absolute;
  left:1200px;
  top:750px;
  width:57px;
  height:16px;
}
#u77 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u76_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u78 {
  position:absolute;
  left:480px;
  top:712px;
  width:30px;
  height:20px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
