body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:10px;
  width:2000px;
  height:1800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:892px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:2000px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1320px;
  top:20px;
  width:100px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1338px;
  top:70px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:40px;
  top:20px;
  width:487px;
  height:25px;
  font-family:'Brush Script MT Italic Bold', 'Brush Script MT';
  font-weight:700;
  font-style:italic;
  font-size:20px;
  color:#3399FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:115px;
  top:153px;
  width:1580px;
  height:450px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:450px;
}
#u11 {
  position:absolute;
  left:2px;
  top:217px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:160px;
  top:205px;
  width:1490px;
  height:265px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1490px;
  height:265px;
}
#u13 {
  position:absolute;
  left:2px;
  top:124px;
  width:1486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:160px;
  top:268px;
  width:1490px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u15 {
  position:absolute;
  left:160px;
  top:238px;
  width:1490px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u16 {
  position:absolute;
  left:160px;
  top:328px;
  width:1490px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u17 {
  position:absolute;
  left:170px;
  top:300px;
  width:1490px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u18 {
  position:absolute;
  left:440px;
  top:224px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:190px;
  top:224px;
  width:40px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1300px;
  top:224px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:820px;
  top:224px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1070px;
  top:224px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1500px;
  top:224px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:187px;
  top:284px;
  width:43px;
  height:16px;
  text-decoration:underline;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:187px;
  top:250px;
  width:43px;
  height:16px;
  text-decoration:underline;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:187px;
  top:314px;
  width:43px;
  height:16px;
  text-decoration:underline;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:807px;
  top:250px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:807px;
  top:284px;
  width:53px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:807px;
  top:314px;
  width:53px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1050px;
  top:250px;
  width:65px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1050px;
  top:284px;
  width:65px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1050px;
  top:314px;
  width:65px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1270px;
  top:250px;
  width:105px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1270px;
  top:284px;
  width:92px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1270px;
  top:314px;
  width:92px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1494px;
  top:250px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1494px;
  top:284px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1494px;
  top:314px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:187px;
  top:340px;
  width:43px;
  height:16px;
  text-decoration:underline;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:160px;
  top:360px;
  width:1490px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u63 {
  position:absolute;
  left:160px;
  top:420px;
  width:1490px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u64 {
  position:absolute;
  left:160px;
  top:390px;
  width:1490px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:1473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1490px;
  height:1px;
}
#u65 {
  position:absolute;
  left:187px;
  top:404px;
  width:43px;
  height:16px;
  text-decoration:underline;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:187px;
  top:370px;
  width:43px;
  height:16px;
  text-decoration:underline;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:807px;
  top:340px;
  width:53px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:807px;
  top:374px;
  width:53px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:807px;
  top:400px;
  width:66px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1050px;
  top:340px;
  width:65px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:1050px;
  top:374px;
  width:65px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:1050px;
  top:400px;
  width:65px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:1270px;
  top:340px;
  width:92px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:1270px;
  top:374px;
  width:92px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:1270px;
  top:400px;
  width:105px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1494px;
  top:340px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1494px;
  top:400px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1494px;
  top:374px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:190px;
  top:179px;
  width:80px;
  height:26px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u94 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:350px;
  top:179px;
  width:80px;
  height:26px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u96 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:430px;
  top:179px;
  width:80px;
  height:26px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u98 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:510px;
  top:179px;
  width:80px;
  height:26px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u100 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:590px;
  top:179px;
  width:80px;
  height:26px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u102 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1430px;
  top:20px;
  width:100px;
  height:40px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u104 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1540px;
  top:20px;
  width:100px;
  height:40px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u106 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1433px;
  top:70px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:270px;
  top:179px;
  width:80px;
  height:26px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u110 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:440px;
  top:250px;
  width:40px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:440px;
  top:284px;
  width:40px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:440px;
  top:310px;
  width:40px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:440px;
  top:344px;
  width:40px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:440px;
  top:370px;
  width:40px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:440px;
  top:404px;
  width:40px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:620px;
  top:224px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#3399FF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:635px;
  top:250px;
  width:25px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:635px;
  top:284px;
  width:25px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:635px;
  top:310px;
  width:25px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:635px;
  top:344px;
  width:25px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:635px;
  top:370px;
  width:25px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:635px;
  top:404px;
  width:25px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1210px;
  top:20px;
  width:100px;
  height:40px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u138 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
